html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

* {
    box-sizing: border-box;
}



.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

.header {
    padding: 2rem 0;
    align-items: center;
    background-color: #EEEFF1;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.nav {}

.nav__inner {}

.nav__link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin: 0 2rem;
}

.nav__link:hover {
    color: #34547A;
}

.intro {
    background-color: #EEEFF1;
}

.intro__inner {
    display: flex;
    padding-bottom: 130px;
}

.intro__left {
    width: 50%;
}

.intro__left__icon {
    margin: 100px 0 0 100px;
}

.intro__right {
    width: 50%;

}

.intro__title {
    font-size: 48px;
    color: #000;
    margin-top: 70px;
}

.intro__subtitle {
    font-size: 16px;
    color: #727272;
    margin-top: 40px;
}

.intro__button {
    background: #34547A;
    font-size: 15px;
    padding: 25px 40px;
    color: #fff;
    margin-top: 60px;
    border: 0;
}

.about {}

.about__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0;
}

.about__title {
    font-size: 32px;
    color: #000;
    font-weight: 500;
}

.about__subtitle {
    width: 540px;
    font-weight: 300;
    color: #727272;
    text-align: center;
    margin-top: 50px;
}

.about__projects {
    width: 100%;
    background: #34547A;
}

.projects__inner {
    padding: 100px 0;
    display: flex;
}

.projects__blog {
    display: flex;
    align-items: center;
    width: 16.6%;
    margin-left: 50px;
}

.projects__blog:first-child {
    margin-left: 20px;
}

.projects__content {
    padding: 10px;

}



.projects__quantity {
    color: #fff;
    font-size: 21px;
}

.projects__name {
    color: #fff;
    font-size: 1rem;
    font-weight: 100;
}

/*Skills*/

.skills {
    padding: 100px 0;
}

.skills__inner {
    display: flex;
}

.skills__left {
    width: 50%;
}

.skills__title {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 100px;
}

.skills__subtitle {
    font-size: 1rem;
    font-weight: 100;
    color: #727272;
    margin-bottom: 10px;
}

.skills__progress {
    width: 445px;
    height: 4px;
    background: #34547A;
    transform: rotate(-0.06deg);

}

.skills__photo__size {
    width: 555px;
    height: 450px;
}

/*/Skills*/

/*Process*/

.process {
    background: #EEEFF1;
    padding: 100px 0;
}

.process__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.process__title {
    font-size: 2rem;
    font-weight: 500;
}

.process__subtitle {
    text-align: center;
    font-size: 1rem;
    font-weight: 100;
    color: #727272;
    width: 540px;
    line-height: 1.5;
    margin: 50px 0 50px 0;
}

.process__video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.process__img {
    width: 1100px;
    height: 600px;
    z-index: 1;

}

.process__play__button {

    position: absolute;
    display: flex;
    z-index: 2;
}

/*/Proccess*/

/*Works*/
.works {

    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.works__item {
    width: 25%;
    height: 480px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;

}

.works__item:hover .works__content {
    opacity: 1;
}

.works__photo {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0)
}

.works__content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    z-index: 2;
    width: 480px;
    height: 480px;
    background-color: rgba(52, 84, 122, 0.8);
    transition: opacity .2s linear;
}

.works__eye {
    width: 100px;
    height: 60px;
}

/*/Works*/

/*Microsoft*/
.microsoft__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

/*Contacts*/
.contacts {
    background-color: #EEEFF1;
    padding: 100px 0;
}

.contacts__inner {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacts__title {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
}

.contacts__subtitle {
    margin-top: 50px;
    font-size: 1rem;
    font-weight: 100;
    color: #727272;
    width: 540px;
    text-align: center;
}

.contacts__form__top {
    display: flex;
    margin-top: 65px;

}

.contacts__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0;

}

.forms__left {
    margin-right: 30px;
    padding: 17px 0 17px 20px;
    font-size: 14px;
    width: 255px;
    height: 50px;
}

.forms__right {
    padding: 17px 0 17px 20px;
    font-size: 14px;
    width: 255px;
    height: 50px;
}

.forms--border {
    border: none;
}

.forms__text {
    margin-top: 20px;
    resize: none;
    width: 540px;
    height: 175px;
    padding: 17px 0 0 20px;
    font-size: 14px;
    font-weight: 100;
}

.forms__btn {
    margin-top: 50px;
    width: 190px;
    height: 55px;
    background: #34547A;
    border: 0;
    color: #fff;
}

/*/Forms*/

/*Copyright*/
.copyright {
    width: 100%;
    background: #34547A;
}

.copyright__inner {
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copyright__left {
    display: flex;
    flex-direction: column;
}

.copyright__name {
    color: #fff;
    font-size: 1.3rem;

}

.copyright__reserved {
    margin-top: 20px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 300;
}

.social {
    display: flex;

}

.social__icon {
    width: 44px;
    height: 24px;
}

.social__item {
    width: 44px;
    height: 24px;
    margin: 0 20px;
}

/*/Copyright*/

/*Media*/
@media(max-width: 991px) {
    .nav {
        display: none;
    }
}

.intro__title {
    font-size: 40px;
}

.intro__subtitle {
    font-size: 14px;
}

.intro__button {
    font-size: 14px;
}

.intro__right {
    margin-left: 20px;
}

.about__inner {
    padding: 50px 0;
}

.about__title {
    font-size: 28px;
}

.about__subtitle {
    font-size: 14px;
}

.projects__blog {
    margin-left: 0px;
}

.skills__photo__size {
    width: 470px;
    height: 390px;
}

.process__img {
    width: 800px;
    height: 400px;
}


.works__item {
    width: 25%;
    height: 300px;
}

.works__photo {
    width: 100%;
    height: 300px;
}

.works__content {
    width: 100%;
    height: 300px;
}

.microsoft__inner {
    padding: 50px 0;
}

.microsoft__icon__size {
    width: 200px;

}

.contacts {
    padding: 50px;

}

.contacts__title {
    font-size: 28px;
}

.contacts__subtitle {
    width: 400px;
    font-size: 14px;
}

.contacts__form__top {
    margin-top: 40px;
}

.copyright__inner {
    padding: 25px 0;
}

.copyright__name {
    font-size: 19px;
}

/**/
